<script>
    $('.ajax-loader').hide();
</script>

<form id="contact-form" class="">
    <div class="form-group">
        <label class="control-label" for="name">Full Name</label>
        <input type="text" name="name" placeholder="Name" size="80" class="form-control" id="name" />
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email Address</label>
        <input type="email" name="email" placeholder="Email" size="80" class="form-control" id="email" />
    </div>
    <div class="form-group">
        <label class="control-label" for="subject">Subject</label>
        <input type="text" name="subject" placeholder="Subject" size="80" class="form-control" id="subject" />
    </div>
    <div class="form-group">
        <label class="control-label" for="message">Message</label>
        <textarea type="text" name="message" placeholder="Message" size="80" class="form-control" id="message" rows="10"></textarea>
    </div>
    <input type="button" class="btn btn-lg btn-primary pull-left clear-email" value="Clear" />
    <button type="button" class="btn btn-lg btn-primary pull-left submit-email" style="margin-left: 15px;" onclick="SendEmail();">Send</button>
    <img class="ajax-loader" src="~/Content/images/icons/ajax-loader.gif" alt="Sending..." onload="this.width /= 2;" />
</form>
