@model IEnumerable<JAPhotography.ViewModel.ImageViewModel>

<script src="~/Scripts/Popup.js" type="text/javascript"></script>

<div class="container">
    <div id="thumbnail_gallery" class="justified-gallery">
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_8977.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_8977_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_9071.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_9071_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_9090.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_9090_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_8475.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_8475_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_8719.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_8719_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_8720.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_8720_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_8760.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_8760_thumb.png") />
        </a>
        

        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_5955.png'); return false;">
            <img src=@Url.Content("/Content/Images/thumbs/IMG_5955_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_5990.png'); return false;">
            <img src=@Url.Content("/Content/Images/thumbs/IMG_5990_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6123.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6123_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6191.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6191_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6419.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6419_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6531.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6531_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6549.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6549_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_6644.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_6644_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7116.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7116_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7177.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7177_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7187.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7187_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7707.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7707_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7745.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7745_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7787.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7787_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7893.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7893_thumb.png") />
        </a>
        <a href="#" onclick="showImage('/Content/Images/gallery/IMG_7987.png'); return false;">
            <img src=@Url.Content("~/Content/Images/thumbs/IMG_7987_thumb.png") />
        </a>
    </div>
    @*<div id="progress">
        <button class="loadMoreBtn">
            See More
        </button>
    </div>*@
    <div id="progress">
        <button class="loadMoreBtn">
            View All
        </button>
    </div>
    <br /><br />
    <hr />
</div>