@model IEnumerable<JAPhotography.Models.PhotoshootTypeModel>

<div class="container">
    <div class="row">
        <div class="pricingInfo">
            <h4>
                <span>
                    Senior Photos $150
                </span>
            </h4>
            <ul>
                <li>
                    1-2 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
                <li>
                    1 8x10 print of your choosing.
                </li>
            </ul>

            <h4>
                <span>
                    Engagement/Couple Photos $200
                </span>
            </h4>
            <ul>
                <li>
                    1-3 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
                <li>
                    2 8x10 <b>or</b> 12 4x6 prints of your choosing.
                </li>
            </ul>

            <h4>
                <span>
                    Maternity Photos $125
                </span>
            </h4>
            <ul>
                <li>
                    1-2 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
            </ul>

            <h4>
                <span>
                    Baby Photos $250
                </span>
            </h4>
            <ul>
                <li>
                    2-4 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
                <li>
                    <b>Note:</b> You will need to be in control of your child. If they do not cooperate, it will effect the amount of photos supplied.
                </li>
            </ul>

            <h4>
                <span>
                    Senior Photos $75
                </span>
            </h4>
            <ul>
                <li>
                    1 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
                <li>
                    <b>Note:</b> You will need to be in control of your animal. If they do not cooperate, it will effect the amount of photos supplied.
                </li>
            </ul>

            <h4>
                <span>
                    Costume Photos $100
                </span>
            </h4>
            <ul>
                <li>
                    1-2 hour session.
                </li>
                <li>
                    Print-Rights to photos.
                </li>
                <li>
                    All touched up photos on disc.
                </li>
                <li>
                    <b>Extra:</b> Additional photo manipulation will be 15$ per photo.
                </li>
            </ul>

            <h4>
                <span>
                    Special Events $100 - $300
                </span>
            </h4>
            <ul>
                <li>
                    Band/Concert
                </li>
                <li>
                    Birthday
                </li>
                <li>
                    Graduation
                </li>
                <li>
                    Anniversary
                </li>
                <li>
                    Baby/Bridal Shower
                </li>
                <li>
                    <b>Notes:</b>
                    <ul>
                        <li>
                            All events are based off of hours, location and side of group.
                        </li>
                        <li>
                            <i>Ask</i> photographer for set price.
                        </li>
                    </ul>
                </li>
            </ul>

            <h4>
                <span>
                    Commercial Photos $175
                </span>
            </h4>
            <ul>
                <li>
                    Photos on disc.
                </li>
            </ul>

            <h4>
                <span>
                    Head Shots $75
                </span>
            </h4>
            <ul>
                <li>
                    Photos on disc.
                </li>
                <li>
                    1 8x10 print.
                </li>
            </ul>
        </div>
    </div>
</div>
