
<div class="dim" onclick="CloseDimmer(); return false;">

</div>
<div class="wrapper">
    <div id="image-container">
        <img class="popupImage" src="" alt="" />
        <div class="closePopup" onclick="CloseDimmer(); return false;"></div>
    </div>
</div>