<div class="row-fluid welcome">
    <div class="background">
        <div class="main-slider">
            <div class="container">
                <img src="~/Content/Images/watermark.png" alt="" class="logo" />
                <h2 class="subtitle">“Photography takes an instant out of time, altering life by holding it still” - <i>Dorothea Lange</i></h2>
                @*<div class="center">
                    <div class="inner-center">
                        <div class="main-btns">
                            <a href="#" class="btn newsletter">
                                <div class="glyphicon glyphicon-envelope"></div>
                                Newsletter
                            </a>
                            <a href="#" class="btn login">
                                <div class="glyphicon glyphicon-log-in"></div>
                                Client Login
                            </a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="down-notifier">
        <div class="down-arrow"></div>
        <span>Look Down</span>
    </div>
</div>

<div class="row-fluid" id="gallery">
    @*@Html.Action("_Gallery", "Home")*@
    @Html.Partial("~/Views/Home/_Gallery.cshtml")
</div>

<div class="row-fluid about">
    @Html.Action("_About", "Home")
</div>

<div class="row-fluid contact">
    @Html.Action("_Contact", "Home")
</div>

<div class="row-fluid footer">
    <div class="container">
        <div class="row">
            <div class="footer-content">
                <img src="~/Content/Images/watermark.png" alt="" class="footer-logo" />
            </div>            
        </div>        
    </div>
    <br />
</div>